@()(implicit rh: RequestHeader)

@tags.cabecalho("Remover Licitação")

<title>T1 - Programação para Web</title>

<form action="@routes.Application.remova" method="post">
	@helper.CSRF.formField
	<table>
	<tr><td>Id da licitação:</td>
		<td> <input type="text" name="id" size="2"></td></tr>
	<!-- <tr><td>Descricao:</td>
		<td><input type="text" name="nome" size="50"></td></tr>
	 <tr><td>Número:</td>
		<td><input type="text" name="numero" size="10"></td></tr>
	<tr><td>Idade:</td>
		<td><input type="text" name="idade" size="3"></td></tr> -->
	</table>
	<input type="submit"  value="Remova">
</form>


<a href="@routes.Application.index">[Home]</a> || 
<a href="@routes.Application.adicionarProduto">[Adicionar produto]</a> || 
<a href="@routes.Application.removerProduto">[Remover produto]</a> || 
<a href="@routes.Application.adicionar">[Adicionar/Alterar licitação]</a> || 
<a href="@routes.Application.remover">[Remover licitação]</a>
